*, *::before,
*::after {
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

button {
	border: none;
	background-color: transparent;
	font-family: inherit;
	cursor: pointer;
	padding: 0;
}

a{
	text-decoration: none;
	font-family: inherit;
}

address{
	font-style: normal;
	margin: 0;
}

textarea{
	resize: none;
}