// Fonts
$main_font: 'Poppins', sans-serif;;

//Accent
$accent_color: #FFD723; 

// Text
$main_text_color: #4D533C;
$light_text_color: #ffffff;
$extra_text_color: rgba(33, 56, 66, 0.60);
$footer_text_color: #B6C197;

// Background
$main_bg: #ffffff;
$dark_bg: #4F553D;;
$accent_bg: #FAFAFA;

// Transition
$transition: 250ms ease-in-out;

// Breakpoints 
$breakpoint_xs: 375px;
$breakpoint_sm: 576px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;
$breakpoint_xxl: 1400px;





